In [11]:
from heterodyne.features._impl import *
import pandas as pd

In [21]:
data = pd.read_csv('data_train.csv')
data

,Record_id,Attribute_name,y_act,total_vals,num_nans,%_nans,num_of_dist_val,%_dist_val,mean,std_dev,...,mean_stopword_total,stdev_stopword_total,mean_char_count,stdev_char_count,mean_whitespace_count,stdev_whitespace_count,mean_delim_count,stdev_delim_count,is_list,is_long_sentence
0,33,Area,categorical,21477,0,0.000000,174,0.810169,0.000000,0.000000,...,0.2,0.400000,10.0,4.816638,0.4,0.800000,0.4,0.800000,False,False
1,33,Area Code,categorical,21477,0,0.000000,174,0.810169,125.449411,72.866452,...,0.0,0.000000,1.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
2,33,Element,categorical,21477,0,0.000000,2,0.009312,0.000000,0.000000,...,0.0,0.000000,4.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
3,33,Element Code,categorical,21477,0,0.000000,2,0.009312,5211.687154,146.816661,...,0.0,0.000000,4.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
4,33,Item,categorical,21477,0,0.000000,115,0.535457,0.000000,0.000000,...,0.8,0.400000,19.6,2.244994,2.0,0.000000,2.0,0.000000,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7931,4180,%,embedded-number,94,39,41.489362,41,43.617021,0.000000,0.000000,...,0.0,0.000000,4.6,0.800000,0.0,0.000000,0.0,0.000000,False,False
7932,4181,date,datetime,366,0,0.000000,366,100.000000,0.000000,0.000000,...,0.0,0.000000,6.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
7933,4185,notes,sentence,2023,5,0.247158,311,15.373208,0.000000,0.000000,...,1.4,1.743560,32.8,21.113029,4.8,3.600000,4.8,3.600000,False,False
7934,4201,Purposes,sentence,21,1,4.761905,20,95.238095,0.000000,0.000000,...,2.0,1.095445,52.2,29.294368,7.4,4.223742,7.4,4.223742,False,False
7935,4204,Notes,sentence,9783,0,0.000000,1790,18.297046,0.000000,0.000000,...,1.6,0.489898,47.2,7.249828,5.8,1.166190,5.8,1.166190,False,False

In [23]:
data['Record_id'].unique()

array([  33,   34,   35, ..., 4185, 4201, 4204], dtype=int64)

In [37]:
data[data['Record_id']==34]

,Record_id,Attribute_name,y_act,total_vals,num_nans,%_nans,num_of_dist_val,%_dist_val,mean,std_dev,...,mean_stopword_total,stdev_stopword_total,mean_char_count,stdev_char_count,mean_whitespace_count,stdev_whitespace_count,mean_delim_count,stdev_delim_count,is_list,is_long_sentence
10,34,activity,categorical,671205,0,0.000000,163,0.024285,0.000000,0.000000,...,0.0,0.0,12.2,3.919184,0.6,0.800000,0.6,0.800000,False,False
11,34,borrower_genders,list,671205,4221,0.628869,11298,1.683241,0.000000,0.000000,...,0.0,0.0,23.2,16.761861,2.2,2.039608,2.2,2.039608,True,False
12,34,country,categorical,671205,0,0.000000,87,0.012962,0.000000,0.000000,...,0.0,0.0,7.6,2.332381,0.2,0.400000,0.2,0.400000,False,False
13,34,country_code,categorical,671205,8,0.001192,86,0.012813,0.000000,0.000000,...,0.0,0.0,2.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
14,34,currency,categorical,671205,0,0.000000,67,0.009982,0.000000,0.000000,...,0.0,0.0,3.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
15,34,date,datetime,671205,0,0.000000,1298,0.193384,0.000000,0.000000,...,0.0,0.0,7.2,0.748331,0.0,0.000000,0.0,0.000000,False,False
16,34,disbursed_time,datetime,671205,2396,0.356970,5719,0.852050,0.000000,0.000000,...,0.0,0.0,25.0,0.000000,1.0,0.000000,1.0,0.000000,False,False
17,34,funded_amount,numeric,671205,0,0.000000,610,0.090881,785.995061,1130.398099,...,0.0,0.0,3.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
18,34,funded_time,datetime,671205,48331,7.200632,498007,74.195961,0.000000,0.000000,...,0.0,0.0,25.0,0.000000,1.0,0.000000,1.0,0.000000,False,False
19,34,lender_count,numeric,671205,0,0.000000,503,0.074940,20.590922,28.459529,...,0.0,0.0,1.6,0.489898,0.0,0.000000,0.0,0.000000,False,False
20,34,loan_amount,numeric,671205,0,0.000000,479,0.071364,842.397107,1198.659180,...,0.0,0.0,3.0,0.000000,0.0,0.000000,0.0,0.000000,False,False
21,34,partner_id,context-specific,671205,13507,2.012351,366,0.054529,178.199616,94.247510,...,0.0,0.0,2.2,0.400000,0.0,0.000000,0.0,0.000000,False,False
22,34,posted_time,datetime,671205,0,0.000000,667399,99.432960,0.000000,0.000000,...,0.0,0.0,25.0,0.000000,1.0,0.000000,1.0,0.000000,False,False
23,34,region,categorical,671205,56800,8.462392,12695,1.891374,0.000000,0.000000,...,0.0,0.0,7.8,3.059412,0.2,0.400000,0.2,0.400000,False,False
24,34,sector,categorical,671205,0,0.000000,15,0.002235,0.000000,0.000000,...,0.0,0.0,8.2,3.919184,0.0,0.000000,0.0,0.000000,False,False
25,34,tags,list,671205,171416,25.538546,86719,12.919898,0.000000,0.000000,...,0.0,0.0,40.6,12.595237,3.0,1.414214,3.0,1.414214,True,False
26,34,term_in_months,numeric,671205,0,0.000000,148,0.022050,13.739022,8.598913,...,0.0,0.0,1.8,0.400000,0.0,0.000000,0.0,0.000000,False,False

In [33]:
#34 = kiva_loans.csv
cols = data[data['Record_id']==34]['Attribute_name'].values
cols

array(['activity', 'borrower_genders', 'country', 'country_code',
       'currency', 'date', 'disbursed_time', 'funded_amount',
       'funded_time', 'lender_count', 'loan_amount', 'partner_id',
       'posted_time', 'region', 'sector', 'tags', 'term_in_months'],
      dtype=object)

In [34]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('experiment').getOrCreate()

In [38]:
kiva = spark.read.csv('kiva_loans.csv', header = True, inferSchema=True).select(*cols)
kiva

DataFrame[activity: string, borrower_genders: string, country: string, country_code: string, currency: string, date: string, disbursed_time: string, funded_amount: string, funded_time: string, lender_count: string, loan_amount: string, partner_id: string, posted_time: string, region: string, sector: string, tags: string, term_in_months: string]

In [39]:
result = extract_features(kiva)
result

Py4JJavaError: An error occurred while calling o837.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 7 in stage 94.0 failed 1 times, most recent failure: Lost task 7.0 in stage 94.0 (TID 234) (100.83.56.54 executor driver): java.io.IOException: Cannot run program "python3": CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:166)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:108)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.UnionRDD.compute(UnionRDD.scala:106)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.IOException: CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessImpl.create(Native Method)
	at java.lang.ProcessImpl.<init>(ProcessImpl.java:453)
	at java.lang.ProcessImpl.start(ProcessImpl.java:140)
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1029)
	... 33 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1030)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1029)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:394)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:338)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:366)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:338)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3538)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3706)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3704)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3535)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.IOException: Cannot run program "python3": CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:166)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:108)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.UnionRDD.compute(UnionRDD.scala:106)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.io.IOException: CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessImpl.create(Native Method)
	at java.lang.ProcessImpl.<init>(ProcessImpl.java:453)
	at java.lang.ProcessImpl.start(ProcessImpl.java:140)
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1029)
	... 33 more